{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/prop-types": [
      "enabled",
      { "ignore": "ignore", "customValidators": "customValidator" }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 80,
        "semi": true
      }
    ]
  },
  "plugins": ["prettier"]
}
